nav ul {
  list-style: none;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1.25rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  line-height: 1;
  color: #eee;
  background-color: currentColor;
  border-radius: 0.35rem;
  box-shadow: inset var(--shadow-x-offset) var(--shadow-y-offset) var(--shadow-blur) var(--shadow-3d-colour);
}

nav ul::before {
  content: "";
  position: absolute;
  left: -1rem;
  right: -1rem;
  z-index: -1;
  display: block;
  height: 0.5rem;
  background-color: currentColor;
  color: inherit;
  box-shadow: inset var(--shadow-x-offset) var(--shadow-y-offset) var(--shadow-blur) var(--shadow-3d-colour);
}

nav ul::after {
  content: "";
  position: absolute;
  left: -1rem;
  right: -1rem;
  top: 0;
  height: 5.875rem;
  z-index: -1;
  display: block;

  background-color: #fff;
}

nav li + li {
  margin-inline-start: 1.25rem;
}

nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  vertical-align: middle;
  background-color: #fff;
  padding: .5rem .75rem;
  font-size: 14px;
  border-radius: 0.25rem;
  transition-property: all;
  transition-duration: 0.2s;
  box-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--shadow-blur) var(--shadow-3d-colour);
}

nav a:active {
  position: relative;
  top: var(--shadow-y-offset);
  left: var(--shadow-x-offset);
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-3d-colour);
}
