main > article > header > h2 {
  --font-size-multiplier: 2;
}

article h3 {
  --font-size-multipluer: 1.5;
}

img.contextual {
  max-width: 50%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(0, 0, 0, .2);
}

article {
  max-width: 50rem;
}

@media (min-width:800px) {
  figure {
    max-width: 60%;
    margin: auto;
  }
  img.contextual {
    float: right;
    width: 200px;
    margin: .25rem 0 2rem 3rem;
  }
}
