.page_work_items main {
  max-width: 1000px;
}

@media (min-width: 800px) {
  .page_work_items {
    & article {
      overflow: hidden;
    }

    & article > *:not(figure):not(header) {
      margin-left: 24rem;
    }

    & figure {
      width: 20rem;
      float: left;
      clear: left;
      margin: 0 3rem 2rem 0;
    }

    & img {
      border-radius: .25rem;
      box-shadow: var(--shadow);
    }
  }
}

.work_list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;

  & li {
    margin: 2rem 0;
  }

  & a {
    display: block;
    border-bottom: 0;
    padding: 1rem;
    margin-inline: -1rem;
  }

  & b {
    display: block;
  }

  & span {
    color: var(--colour-text-body);
  }

  & img {
    border-radius: .25rem;
    box-shadow: var(--shadow);
  }
}

@media (min-width: 500px) {
  .work_list {
    display: grid;
    gap: 2rem;

    & li {
      margin: 0;
    }

    & a {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      min-block-size: 100%;
      box-sizing: border-box;
      margin-inline: 0;
      background-color: #eee;
      border-radius: .25rem;
      box-shadow: var(--shadow);
    }

    & picture {
      aspect-ratio: 2/1;
      min-inline-size: 33.333%;
      max-inline-size: 33.333%;
      filter: grayscale(1);
      opacity: 0.75;
      transition-property: filter, opacity;
      transition-duration: 0.2s;
    }

    & a:is(:hover,:focus) picture {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

@media (min-width: 800px) {
  .work_list {
    grid-template-columns: repeat(2, 1fr);

    & a:active {
      box-shadow: 0 0 0 var(--shadow-3d-colour);
    }
  }
}
