---
eleventyExcludeFromCollections: true
layout: "shared.njk"
title: "Home"
additional_stylesheets: ["css/home.css"]
head_extra: |-
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-title" content="tactile.co.za">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
  <link rel="manifest" href="/manifest.json">
---
<p>
  Hi! I’m Shaun O’Connell, a front-end developer based in Wellington, New Zealand. I've been working on the web since 1999 and want to share what I've learned along the way.
</p>
<h2>I can help you with…</h2>
<ul>
  <li>Front-end consulting
  <li>Mentoring and teaching web development
  <li>Web performance optimisations
  <li>Web Component, Hotwire, and Stimulus work
  <li><abbr title="Progressive web application">PWA</abbr> development
  <li>Static site generation
  <li>Progressive enhancement
  <li>Design System & Pattern Library development
  <li>Web application templating (Traditional and Client-side)
  <li>Web master duties
  <li>Wireframing and Interaction Design
  <li>User research
</ul>
