---
eleventyExcludeFromCollections: true
layout: "shared.njk"
title: "About"
additional_stylesheets:
  - "css/home.css"
head_extra: |-
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-title" content="tactile.co.za">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
  <link rel="manifest" href="/manifest.json">
---
<p>
  <a href="blog/">Currently teaching web development in Madagascar</a>.
</p>
<h2>I can help you with…</h2>
<ul>
  <li>Front-end consulting
  <li>Mentoring and teaching web development
  <li>Web performance optimisations
  <li><abbr title="Progressive web application">PWA</abbr> development
  <li>Static site generation
  <li>Design System & Pattern Library development
  <li>Web application templating (Traditional and Client-side)
  <li>Web master duties
  <li>Wireframing and Interaction Design
  <li>User research
</ul>
