<footer>
  <h2 class="a11y">More info</h2>
  <p class="a11y">Find me on:
  <ul>
    <li>
      <a href="https://github.com/ndorfin">
        <svg width="24" height="24">
          <use href="#icon_github"/>
        </svg>
        <span class="a11y">Github: ndorfin</span>
      </a>
    <li>
      <a href="https://codepen.io/ndorfin">
        <svg width="24" height="24">
          <use href="#icon_codepen"/>
        </svg>
        <span class="a11y">CodePen: ndorfin</span>
      </a>
    <li>
      <a href="https://twitter.com/ndorfin">
        <svg width="24" height="24">
          <use href="#icon_twits"/>
        </svg>
        <span class="a11y">Twitter: @ndorfin</span>
      </a>
    <li>
      <a href="https://www.linkedin.com/in/ndorfin/">
        <svg width="24" height="24">
          <use href="#icon_links_in"/>
        </svg>
        <span class="a11y">LinkedIn: in/ndorfin</span>
      </a>
    <li>
      <a href="https://www.quora.com/profile/Shaun-OConnell">
        <svg width="24" height="24">
          <use href="#icon_quora"/>
        </svg>
        <span class="a11y">Quora: @Shaun-OConnell</span>
      </a>
  </ul>
</footer>
