<footer>
  <h2 class="a11y">More info</h2>
  <p>Find me on:
  <ul>
    <li><a href="https://github.com/ndorfin">Github: ndorfin</a>
    <li><a href="https://codepen.io/ndorfin">CodePen: ndorfin</a>
    <li><a href="https://twitter.com/ndorfin">Twitter: @ndorfin</a>
    <li><a href="https://www.linkedin.com/in/ndorfin/">LinkedIn: in/ndorfin</a>
    <li><a href="https://www.quora.com/profile/Shaun-OConnell">Quora: @Shaun-OConnell</a>
  </ul>
</footer>
