{% set icon_filters %}
  {% include "svgs/_filter_shadow.svg" %}
{% endset %}
{% set svg_icons %}
  {% include "svgs/icon_codepen.svg" %}
  {% include "svgs/icon_github.svg" %}
  {% include "svgs/icon_links_in.svg" %}
  {% include "svgs/icon_quora.svg" %}
  {% include "svgs/icon_rss.svg" %}
  {% include "svgs/icon_twits.svg" %}
  {% include "svgs/logo_tactile.svg" %}
{% endset %}
<div id="svg_sprite" style="visibility:hidden; height:0; width:0; overflow:hidden;">
  <svg>
    <defs>
      {{ icon_filters | safe }}
    </defs>
    {{ svg_icons | safe }}
  </svg>
</div>
