{% set svg %}
<div id="svg_sprite" style="visibility:hidden; height:0; width:0; overflow:hidden;">
  <svg>
    <defs>
      {% include "svgs/_filter_shadow.svg" %}
    </defs>
    {% include "svgs/icon_codepen.svg" %}
    {% include "svgs/icon_github.svg" %}
    {% include "svgs/icon_links_in.svg" %}
    {% include "svgs/icon_quora.svg" %}
    {% include "svgs/icon_rss.svg" %}
    {% include "svgs/icon_twits.svg" %}
    {% include "svgs/logo_tactile.svg" %}
  </svg>
</div>
{% endset %}
{{ svg | safe }}

