---
pagination:
    data: talks
    size: 1
    alias: talk
permalink: "/talks/{{talk.id | slug}}/index.html"
---
{% if talk.images.promo %}
<figure>
  <img src="../images/{{ talk.images.promo }}" alt="">
</figure>
{% endif %}

<p>
  {{ talk.description | safe }}
</p>

<dl>
  <dt>
    Date:
  </dt>
  <dd>
    <time datetime="{{ talk.date | dateISO }}">{{ talk.date | ccyyMMdd }}</time>
  </dd>
  <dt>
    Venue:
  </dt>
  <dd>
    {{ talk.venue | safe }}
  </dd>
</dl>

{% if talk.url %}
<p>
  <a href="{{ talk.url }}" rel="noopener nofollow noreferrer">Check out <b>{{ talk.url_label }}</b></a>
</p>
{% endif %}
