---
layout: "shared.njk"
eleventyExcludeFromCollections: true
section: Blog
title: Recent posts
back:
  url: "../"
  title: "Home"
additional_stylesheets:
  - "css/post.css"
  - "css/blog_index.css"
---
{% for group in collections.postsGroupedByMonth %}
<section>
  <header>
    <h3>{{ group.month | formattedMonthYear }}</h3>
  </header>
  <ul>
    {% for post in group.posts %}
    <li>
        <a href="{{ post | postUrl }}">{{ post.data.title }}</a>
        <span class="a11y">Written on</span>
        <time datetime="{{ post.data.date | dateISO }}">
          {{ post.data.date | day }}
          <abbr title="{{ post.data.date | month }}">
            {{ post.data.date | mon }}
          </abbr>
        </time>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
