---
title: Weaving a styling tale
---
<p>Imagine for a moment that CSS is a diligent (and somewhat queer) fashion designer. He is always trying to dress his subject matter in all manner of fashion, from the formal to the flashy. Think of CSS as a roving clothing-wielding fashionista.</p>
<p>CSS peppers his daily routine with studying his favourite subject matter: HTML Elements. The Elements are a curious set of creatures to CSS, and nowhere is this curiosity more evident than in CSS’s regular [and published I might add] fashion reports on his subject matter. Reading like the annals of an Ethnographer, CSS describes what it was like when he first encountered The Elements…</p>
<blockquote>
  <p>The Elements arrange themselves in similar and yet strange-fitting uniforms, some of the uniforms stretch rather badly over the more robust figures (such as the fat one I call ‘Textarea’) and yet they continue to wear these uniforms day by day. &nbsp;[I must do something to avert this fashion crisis - it’s a g’damn tragedy!]</p>
</blockquote>
<p>Before CSS set about clothing The Elements in the latest trendy garb, he decided to investigate why The Elements were wearing those strange uniforms in the first place. CSS needed to witness the birth and early life of an Element. His findings were logged as such:</p>
<blockquote>
  <p>These elements all start out in life as simple naked objects, never trying to distinguish themselves from their peers. [They look so boring, so same-y!] Early in their lives, these elements are visited by the clothes merchants (for some reason called ‘Browsers’) and they dress the elements in various lines of fashion (at a price). &nbsp;<a href="http://meiert.com/en/blog/20070922/user-agent-style-sheets/">These merchants have their own style guidelines for the various elements</a>, and curiously, each merchant’s style guideline shows very little difference from the next. [Maybe all the merchants got together one day and agreed upon how they'd style these Elements. &nbsp;Must investigate further.]</p>
</blockquote>
<p>CSS went about correcting the bland fashion mistakes perpetuated by the Browsers, setting new life into The Elements. Can you picture CSS flitting about, his paintbrush splurging a spectrum of colour over his new creations?<br>
Some of these creations were boxy, intended for the ones he called Div, Pee and so.<br>
Other creations took on a more fluid nature, a special ocean blue one intended for the charismatic Anchor element was weaved and it was gorgeous!</p>
<p>One day, as CSS recalls, something strange happened:</p>
<blockquote>
  <p>
    Span, that loose character, came in to my shop asking for a change of clothes again, as he usually does. [He's always changing his mind about what he wears, it's so irritating!] I was absorbed in my latest creation, so I motioned for Span to have a look around.<br>
    <q>Waddayathink?</q> I heard a little later; there was Span dressed to the nines, looking just like that handsome devil: H1.<br>
    I couldn’t believe it at first. How did Span fill out into H1′s figure?
  </p>
</blockquote>
<p>
  It was a revelation – the impact would be profound!<br>
  It was then that CSS realised he had made a huge mistake…
</p>
<blockquote>
  <p>I had been stupidly using the Merchant’s (or Browsers) clothes as a base for all my own creations as if they were boxy underpants. In a way, I was inheriting their forms, their textures. I can’t believe I didn’t realise that all these Elements are amourphous – I can style them as I see fit! (within reason ofc)</p>
</blockquote>
<p>
  With the limits removed, CSS became an even more talented designer.<br>
  A flowing robe was weaved with love and dedication for Pee.<br>
  Anchor took on new heights and stature with his new box-cut jeans.<br>
  In short, CSS transcended fashion design and his impact on the fashion world have indeed been profound.
</p>
<p>
  CSS’s works have set the bar for all aspiring designers, even to this day. His reports formed the basis for all studies in fashion design.<br>
  Meeting CSS in person is a rare treat for younger designers. <q>Don’t forget…</q>, he would say to them, <q>an element is an element is an element. Dress them as you see fit, not by what they’re fitting into.</q>
</p>
