---
title: Cast amongst the wordsmiths and awareness-builders
---
<p>Last week I was told via email of some great news: I had won a ticket to the <a href="http://csforum2012.com">Content Strategy Forum 2012</a>. I was keenly aware of this conference and was itching to attend (some of the smartest folks guiding the web were speaking), but the price tag far exceeded my annual training budget as a freelancer. So, with a ticket secured, I travelled through to <a href="http://www.spier.co.za/">Spier Wine Estate</a> outside of Stellenbosch to meet some of my influencers (such as <a href="http://www.lukew.com/">Luke Wroblewski</a>) and other fellow web workers.</p>
<p>For those too lazy to do some googling or just want <a href="http://en.wikipedia.org/wiki/Content_strategy">a quick intro to Content Strategy</a>; CS is all about promoting Content in a web design / development process. Often Content is wrongly seen as a bolt-on, something you would add (per se) to create visual balance. Rather, Content is the meat and potatoes of web design. It’s the reason your users visit your pages. Without Content, the web would be barren.</p>

<section>
  <h2>We are all connected</h2>
  <p>At first I thought I wouldn’t have much in common with the Content Strategy advocates such as <a href="http://csforum2012.com/speaker/rachel-lovinger/">Rachel Lovinger</a>, or <a href="http://csforum2012.com/speaker/kristina-halvorson/">Kristina Halvorson</a>, but in hearing them speak about their trials and tribulations as curators of the web, I realised I wasn’t alone when it came to raising awareness about the quality-driven aspects of the web. I realised my ideologies were well-placed, but poorly communicated, and that I need to start speaking to the problems potential clients have, and not just the solutions I offer. Solutions without a framing in problems are meaningless ideologies.</p>
  <p>These wordsmiths were concerned about the practical aspects of web development, the intended meaning of a web document and how best that meaning could be conveyed to a user, a crawler or the people maintaining the document. HTML (by its very design) is made to aid this practice, but the design-intent of the markup is lost to many – it feels like somewhere along the way, we lost the vision of the web platform and instead used it to make heaps of profit.</p>
  <p>Luke W’s and Bruce Lawson’s talks were particularly exciting to witness.</p>
  <ul>
    <li><a href="http://csforum2012.com/speaker/bruce-lawson/">Bruce</a> spoke to the technical opportunities afforded by HTML5 and how it can empower Content Strategists in communicating the meaning effectively through semantic markup, microdata and <a href="http://schema.org">schema.org</a>.</li>
    <li><a href="http://csforum2012.com/speaker/luke-wroblewski/">Luke</a> brought the audience around to understanding that the web isn’t just a medium of consumption, rather that participation is what defines a healthy and busy web ecosystem, and that content should be intended for this two-way exchange.</li>
  </ul>
</section>

<section>
  <h2>The themes</h2>
  <p>One of the big themes I noticed was that people working on the web need to collaborate and learn more from each other.</p>
  <ul>
    <li>Content Strategists could learn a lot from SEOs.</li>
    <li>Front-end developers need to work directly with Content Strategists to make sure that the translation from thought to markup is kept consistent and reliable.</li>
    <li>Designers need to give up the notion that Content is something you place in a neatly-sized box, instead the content IS the design and best tackled by both parties, together.</li>
  </ul>
  <p>Another theme running through the event was the influence of passion. I met a lot of people who are really passionate about what they do. This same passion (which will henceforth be known as The Force) was the very reason CS Forum 2012 was happening in Cape Town.<br>
  <a href="https://twitter.com/kerry_anne">Kerry-Anne</a>, <a href="https://twitter.com/1rene">Irene</a>, <a href="https://twitter.com/rianvdm">Rian</a> and <a href="https://twitter.com/nathanblows">Nathan</a> are passionate about Content Strategy (Read: The Force is strong in them). So much so, they wanted to bring the web’s influencers (*cough* Jedis) to Cape Town, to help spread awareness about important realisations they’ve had before, and that many of us have had this last week.</p>
</section>

<section>
  <h2>Parting thoughts</h2>
  <p>I was dismayed that many web companies didn’t send people to attend, and therefore spread awareness within their own companies. Maybe this a byproduct of lack of awareness or these companies just don’t have the time, energy or fore-thought to be as passionate about the web as others.</p>
  <p>Dismay aside, it was one of the best conferences I have been to. Thank you Kerry-Anne and thank you The Passionate People that live under the ‘tent of Content Strategy’ for a wonderful opportunity and experience – your messages will stay with me for many years to come.</p>
</section>
