html {-webkit-font-smoothing:subpixel-antialiased; font:12px/1.5 Georgia, sans-serif; height:100%;}
body {font-size:1.25rem; margin:5vh 5vw; color:#966; min-height:100%;}
h1 {font-size:3rem; font-weight:600; color:#422;}
abbr {text-decoration:none; border-bottom:none;}
a {color:#b22; text-decoration:none; border-bottom:rgba(187,34,34,.25) solid 1px; transition:border-color .2s;}
a:hover {border-bottom:currentColor solid 1px;}
.a11y {position:absolute; overflow:hidden; clip:rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
figure {margin:0; max-width:100%;}
img {max-width:100%;}
img.contextual {max-width:50%; border-radius:5px; border:1px solid rgba(0,0,0,.2);}
article {max-width:50rem;}
video {max-width: 100%; max-height: 100vh;}
@media (min-width:480px) {
  html {font-size:16px;}
}
@media (min-width:800px) {
  figure {max-width:60%; margin:auto;}
  img.contextual {
    float: right;
    width: 200px;
    margin: .25rem 0 2rem 3rem;
  }
}

