---
layout: "shared.njk"
eleventyExcludeFromCollections: true
title: "Examples of my work"
section: Work
back:
  url: "../"
  title: "Home"
---
<ul>
{% for project in work %}
  <li>
    <a href="{{project.id}}/">
      {{project.title}}
    </a>
  </li>
{% endfor %}
</ul>
