---
layout: "shared.njk"
eleventyExcludeFromCollections: true
title: "Examples of my work"
section: Work
additional_stylesheets: ['css/work.css']
---
<ul class="work_list">
{% for project in work %}
  <li>
    <a class="work_item" href="{{project.id}}/">
      <picture>
        {% if project.images.promo %}
        <img src="images/{{project.images.promo}}" alt>
        {% endif %}
      </picture>
      <div>
        <b>{{project.title}}</b>
        <span>{{project.summary}}</span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
<p>
  More to come soon.
