---
pagination:
    data: work
    size: 1
    alias: work
permalink: "/work/{{work.id | slug}}/index.html"
---
<p>
  <img src="../images/{{ work.images.promo }}" alt="">
</p>

<p>
{{ work.description }}
</p>
{% if work.url %}
<p>
  <a href="{{ work.url }}">Check out {{ work.url_label }}</a>
</p>
{% endif %}
<p>
  <img src="../images/{{ work.images.screenshots }}" alt="">
</p>

<section>
  <header>
    <h3>Responsibilities</h3>
  </header>
  <ul>
    {% for responsibility in work.responsibilities %}
    <li>{{responsibility}}</li>
    {% endfor %}
  </ul>
</section>

<section>
  <header>
    <h3>Team-mates</h3>
  </header>
  <ul>
    {% for person in work.people %}
    <li>{{person}}</li>
    {% endfor %}
  </ul>
</section>

<section>
  <header>
    <h3>Observations and insights</h3>
  </header>
  <ul>
    {% for insight in work.observations %}
    <li>{{insight | safe}}</li>
    {% endfor %}
  </ul>
</section>
