{% set css %}
  {% include "css/core.css" %}
  {% include "css/nav.css" %}
  {% for styles in additional_stylesheets %}
    {% include styles %}
  {% endfor %}
{% endset %}
{%- set $title = title -%}
{%- if work.title -%}
  {%- set $title = work.title -%}
{%- endif -%}
{%- if talk.title -%}
  {%- set $title = talk.title -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en-ZA" xmlns="http://www.w3.org/2000/svg">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="view-transition" content="same-origin">
<style>
  html {
    --active-page-id: "{{ page_id }}";
  }
  {{ css | cssmin | safe }}
</style>
<title>{{ $title }} - tactile.co.za</title>
{{ head_extra | safe }}
<body class="{% if section %}{{ section | slug }}{% endif %} page_{{ page.fileSlug | slug }}">
{% include "svg_sprite.njk" %}
{% include "site_header.njk" %}
{% include "site_nav.njk" %}
<main>
  <article>
    <header>
      <h2>{{ $title }}</h2>
    </header>
    {{ content | safe }}
    {% if pagination_enabled == true %}
    <footer>
      {% include "pagination.njk" %}
    </footer>
    {% endif %}
  </article>
</main>
{% include "site_footer.njk" %}
{% include "site_scripts.njk" %}

