{% set css %}
  {% include "css/core.css" %}
  {% include "css/nav.css" %}
  {% for styles in additional_stylesheets %}
    {% include styles %}
  {% endfor %}
{% endset %}
{%- set $title = title -%}
{%- if work.title -%}
  {%- set $title = work.title -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en-ZA">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>{{ css | cssmin | safe }}</style>
<title>{{ $title }} - tactile.co.za</title>
{{ head_extra | safe }}
<body class="{% if section %}{{ section | slug }}{% endif %} page_{{ page.fileSlug | slug }}">
{% include "site_header.njk" %}
{% include "site_nav.njk" %}
<main>
  <article>
    <header>
      <h2>{{ $title }}</h2>
    </header>
    {{ content | safe }}
    {% if pagination_enabled == true %}
    <footer>
      {% include "_includes/pagination.njk" %}
    </footer>
    {% endif %}
  </article>
</main>
{% include "site_footer.njk" %}
{% include "site_scripts.njk" %}

