{% set css %}
  {% include "css/core.css" %}
  {% include "css/nav.css" %}
  {% for styles in additional_stylesheets %}
    {% include styles %}
  {% endfor %}
{% endset %}
<!DOCTYPE html>
<html lang="en-ZA">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>{{ css | cssmin | safe }}</style>
<title>{{ title }} - tactile.co.za</title>
{{ head_extra | safe }}
<body {% if section %}class="{{ section | slug }}"{% endif %}>
{% include "site_header.njk" %}
{% include "site_nav.njk" %}
{% if back %}
<p><a href="{{ back.url }}">Back to the {{ back.title }} page</a></p>
{% endif %}
<main>
  {% if section %}
  <header>
    <h2>{{ section }}</h2>
  </header>
  {% endif %}
  <article>
    <header>
      <h2>{{ title }}</h2>
    </header>
    {{ content | safe }}
  </article>
</main>
{% include "site_footer.njk" %}
{% include "site_scripts.njk" %}

