---
page_class: 'homepage'
section_title: 'Take the hassle out of Two-factor Authentication'
description: 'Hassle-free Two-factor Authentication'
---

<% content_for :page_navigation do %>
<ul>
  <li><a href="#section_what">What is FactorFree?</a></li>
  <li><a href="#section_why">Why?</a></li>
  <li><a href="#section_how">How does it work?</a></li>
  <li><a href="#section_pricing">Pricing</a></li>
  <li><a href="#section_next_steps">Next steps</a></li>
  <li id="subscribe"><label for="email">Subscribe</label></li>
</ul>
<% end %>

<section id="section_what">
  <div class="container">
    <h2>What is FactorFree?</h2>
    <p>
      FactorFree is a web service that enables hassle-free two factor authentication (2FA).<br>
      We use browser fingerprinting and behaviour matching to reduce the need to ask for manual (or user-based) second factor authentication, therefore reducing the penalties associated with 2FA, but still improving your site security.
    </p>

    <h3>It’s easy to get started…</h3>
    <ol>
      <li>Include our scripts, and link up to our API during your login process</li>
      <li>When a user logs into your application, we’ll apply your trust preferences against their identity</li>
      <li>You handle the risk the way you want to</li>
    </ol>
    <p>We’re currently seeking interested parties to beta test FactorFree. Early adopters will get the chance to contribute ideas and requirements in the development of our new (and exciting) product.</p>
    <p><a class="more" href="#section_how">More on how FactorFree works</a></p>
  </div>
</section>

<section id="section_why">
  <div class="container">
    <h2>Why?</h2>

    <h3>Web Security is becoming more and more important</h3>
    <p>It is good for your customers and good for you as a service provider when you customers’ accounts use additional authentication methods. You’ll need tools like 2FA to keep your user accounts intrusion-free.</p>

    <h3>It’s 2FA, but your users won’t notice</h3>
    <p>FactorFree takes the hassle out of your user logins, by using discreet 2FA technologies such as browser fingerprinting - no more conversion penalties imposed by 2FA!</p>

    <h3>We take the cost out of 2FA</h3>
    <p>We can drive down the costs of using 2FA because we’ll only be sending verification texts (<abbr title="one-time passwords">OTPs</abbr>) when really necessary, and when we do our bulk-buying ability means that you get great value.</p>

    <h3>We take the hassle out of enabling 2FA</h3>
    <p>Use our second factor service and integrate with your website with ease. You can build off our code examples, or drop in a pre-written script for your system.</p>

    <h3>Compatible with other 2FA services</h3>
    <p>FactorFree can work alongside other 2FA services.</p>
  </div>
</section>

<section id="section_how">
  <div class="container">
    <h2>How does FactorFree work?</h2>

    <h3>Drop-in our scripts and plugins</h3>
    <p>We’re building a range of scripts and plugins plus code examples to get you started.</p>

    <h3>You decide on the security level</h3>
    <p>
      During a customer’s login attempt our API will tell you if the login is trusted. This is determined by a customer’s meta data and your configured security level. You can then decide what to do from there.<br>
      e.g. If trusted, you could allow the user into your application. If not trusted, you could initiate a second factor request through our API.
    </p>

    <h3>Start with risk analysis</h3>
    <p>The first layer is a risk analysis API built on browser fingerprinting that you can use on your platform, whatever that may be.<br>
    e.g. If the login is accompanied by a new fingerprint, we elevate the risk score.</p>

    <h3>It’s all to do with 2FA.</h3>
    <p>We’ve started with Browser Fingerprinting and Behaviour Profiling, but we’ll be adding other mechanisms soon.</p>
  </div>
</section>

<section id="section_pricing">
  <div class="container">
    <h2>Pricing</h2>
    <p>Starting from Free for up to 1000 successful logins per month<a href="#pricing_footnote">*</a>.</p>
    <p>Paid plans start at $1,200 <abbr title="United States Dollars">USD</abbr> per annum for 12,000 successful logins.</p>
    <p id="pricing_footnote"><b>Note:</b> <span>*</span> Excluding SMS costs, the Free Plan requires use of the the FactorFree widget and includes <q>powered by FactorFree</q> advertising.</p>
  </div>
</section>

<section id="section_next_steps">
  <div class="container">
    <h2>Next steps</h2>

    <h3>Web Security, from top to bottom</h3>
    <p>We’re thinking a lot about the user interactions with your site at critical security checkpoints and we want to make that a better experience for all.</p>

    <h3>Additional 2FA methods</h3>
    <p>We’re working on additional (and more involved second-factor authentication methods), including:</p>
    <ul>
      <li><abbr title="One-time passwords">OTP</abbr> via <abbr title="Short message service">SMS</abbr> or <abbr title="Unstructured Supplementary Service Data">USSD</abbr></li>
      <li>App-based tokens</li>
    </ul>

    <h3>Get intel on your authentication layer</h3>
    <p>At some point we’ll be building a dashboard/analytics platform that you, as a site owner, can use to view the amount of risk your website is currently facing.</p>
  </div>
</section>

<%= partial "partials/mailchimp_signup" %>
